
<p><strong>Menú</strong></p>
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="http://framework.dev/home/">Método por defecto</a></li>
  <li><a href="http://framework.dev/home/response">Método con Response</a></li>
  <li><a href="http://framework.dev/home/json-response">Método que usa Json Response</a></li>
  <li><a href="http://framework.dev/home/smarty">Método que usa Twig</a></li>
  <li><a href="http://framework.dev/home/twig">Método que usa Smarty</a></li>
  <li><a href="http://framework.dev/home/service1">Método que usa Servicio simple del Container</a></li>
  <li><a href="http://framework.dev/home/service2">Método que usa Servicio con dependencias</a></li>
  <li><a href="http://framework.dev/home/clasification">Método que accede a la BBDD</a></li>
    <li><a href="http://framework.dev/home/i18n">Método que usa i18n</a></li>
</ul>